# Snakemake files
.snakemake

# Byte-compiled / optimized / DLL files
workflow/scripts/__pycache__/

# input and output files
results
results/*
resources
resources/*
workflow/scripts/logs
workflow/scripts/logs/*
